name: Deploy to VPS

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: root
          port: 22
          key: ${{ secrets.SSH_KEY }}
          script_stop: true
          debug: true

          script: |
            set -e

            cd /opt/telegram-bot/DndSheet

            git fetch --all
            git reset --hard origin/master
            git clean -fd

            cd backend
            source venv/bin/activate
            pip install -r requirements.txt

            systemctl restart dnd-backend
            systemctl restart dnd-bot
