name: Deploy to VPS

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Debug secrets presence
        run: |
          echo "HOST set? -> ${{ secrets.SSH_HOST != '' }}"
          echo "USER set? -> ${{ secrets.SSH_USER != '' }}"
          echo "PORT set? -> ${{ secrets.SSH_PORT != '' }}"
          echo "KEY set?  -> ${{ secrets.SSH_KEY  != '' }}"

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}

          # чтобы падало сразу, если SSH/команда упала
          script_stop: true

          # удобно для логов (можно потом выключить)
          debug: true

          script: |
            set -e

            cd /opt/telegram-bot/DndSheet
            git pull

            cd backend
            source venv/bin/activate
            pip install -r requirements.txt
            alembic upgrade head

            systemctl restart dnd-backend
            systemctl restart dnd-bot

            systemctl --no-pager --full status dnd-backend || true
            systemctl --no-pager --full status dnd-bot || true
